<?xml version="1.0" encoding="UTF-8"?>
+<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
+<suite name="FREE ms Application Test Automation Test Suite">
+	<test name="Free ms App Test Cases">
+		<classes>
+			<class name="com.msStore.testcases.TestHomePage"></class>
+			<class name="com.msStore.testcases.TestvalidaLoginPagewithExcel"></class>
+			<class name="com.msStore.testcases.TestValidLoginPage"></class>
+			
+		</classes>
+	</test>
+</suite> 